<html>
  <head>
    <title>Slackstagram</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" charset="utf-8">
    <script charset='utf-8' src='/javascripts/jquery.js'></script>
    <script charset='utf-8' src='/javascripts/scripts.js'></script>

  </head>
  <body>
    <h1>Woodstock Messages</h1>
    <ul id='all-messages'>
    </ul>
    <ul id='all-giphs'>
    </ul>



  </body>
</html>
